extends layouts/common.pug

block content
  h1 Todos App
  ul(class="d-flex" style="list-style-type:none;")
    li(class="mr-2")
      a(href="/") Home
    li(class="mr-2")
      a(href="/todos") Todos